.selecionado::after {
  content: '';
  display: block;

  margin: 0.1875rem auto 0 auto;
  height: 0.21875rem;
  width: 2.7rem;

  background: #fff;
}

h2 {
  visibility: hidden;
  position: relative;
  margin-bottom: -3.125rem;
}

.menu-nav-secundario {
  background-color: #fff;
}

.navegacao,
.navegacao form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-size: 2.25rem;
  color: #000;
}

.navegacao ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navegacao ul li {
  padding: 2.125rem;
}

.navegacao ul li select {
  font-size: 2.25rem;
  outline: none;
  border: none;
  background-color: #fff;
}

.navegacao a {
  color: #000;
  text-decoration: none;
}

.navegacao a:hover {
  color: blue;
}

.navegacao .pesquisa {
  max-width: 25rem;
  height: 2.625rem;

  padding-left: 2.5rem;
}

.search-btn {
  margin: 0 auto;
  color: blue;
  height: 2.625rem;
  padding-right: 15px;
}

form input,
form button {
  outline: none;
  border: none;
  background-color: #fff;
}

form {
  border: 2px solid #000;
}

.image {
  margin-top: 2%;
  display: flex;
  margin-bottom: 2%;
}

.campo {
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
}

table {
  margin-top: 2%;
  margin-left: 40%;
  margin-right: 30%;
}
th,
td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: left;
  border: 1px solid #fff;
}

.campo-comentario {
  background-color: white;
  width: 980px;
  height: 400px;
  margin: 10px;
  border-radius: 10px;
}

.campo-comentario img {
  margin: 0;
}

.nova {
  display: flex;
  padding: 20px;
}

.nova1 {
  width: 600px;
  margin: 0 auto;
}

.perfil-1 {
  border-radius: 50px;
  width: 70px;
  height: 70px;
}

.perfil-2 {
  border-radius: 50px;
  width: 70px;
  height: 70px;
}

.perfil-3 {
  border-radius: 50px;
  width: 70px;
  height: 70px;
}

.perfil-comentario-1 {
  border-radius: 10px;
}

label {
  color: black;
}

.campo {
  width: auto;
  bottom: 50%;
}

.input {
  box-sizing: border-box;
  text-align: left;
  width: 400px;
  display: block;
  border-bottom: 2px solid black;
  padding: 10px;
}

.button {
  display: inline-block;
  padding: 2px 15px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #b8c3c9;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px #999;
  margin-left: 350px;
}
.button:active {
  background-color: #8c9ea8;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
