*{
  font-style: Roboto;
}
h2 {
  visibility: hidden;
  position: relative;
  margin-bottom: -3.125rem;
}

.menu-nav-secundario {
  background-color: #fff;
}

.navegacao,
.navegacao form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-size: 2.25rem;
  color: #000;
}

.navegacao ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navegacao ul li {
  padding: 2.125rem;
}

.navegacao ul li select {
  font-size: 2.25rem;
  outline: none;
  border: none;
  background-color: #fff;
}

.navegacao a {
  color: #000;
  text-decoration: none;
}

.navegacao a:hover {
  color: blue;
}

.navegacao .pesquisa {
  max-width: 25rem;
  height: 2.625rem;

  padding-left: 2.5rem;
}

.search-btn {
  margin: 0 auto;
  color: blue;
  height: 2.625rem;
  padding-right: 15px;
}

form input,
form button {
  outline: none;
  border: none;
  background-color: #fff;
}

form {
  border: 2px solid #000;
}

.image{
  margin-top:2%;
  display: flex;
  margin-bottom: 2%;
}

.campo{
  margin-top:2%;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;

}

table{
  margin-top:2%;
  margin-left: 40%;
  margin-right: 30%;
}
th, td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: left;
}

.campo-comentario{
  background-color: white;
  width: 700px;
  margin-top: 30px;
  justify-content: center;
  margin-right:auto;
  margin-left:auto;
  left: 20%;
  margin-bottom: 30px;
  padding: 15% 15%;
  border-radius: 10px;
}

.perfil-1{
  position: absolute;
  border-radius: 50px;
  width: 70px;
  height: 70px;
  left: 350px;
  top: 1100px;
}

.perfil-2{
  position: absolute;
  border-radius: 50px;
  width: 70px;
  height: 70px;
  left: 350px;
  top: 1250px;
}

.perfil-3{
  position: absolute;
  border-radius: 50px;
  width: 70px;
  height: 70px;
  left: 350px;
  top: 1350px;
}

.perfil-comentario-1{
  position: absolute;
  border-radius: 50px;
  width: 70px;
  height: 70px;
  left: 450px;
  top: 1100px;
}

.perfil-comentario-2{
  position: absolute;
  border-radius: 50px;
  width: 700px;
  height: 70px;
  left: 450px;
  top: 1260px;
}

.perfil-comentario-3{
  position: absolute;
  border-radius: 50px;
  width: 700px;
  height: 70px;
  left: 450px;
  top: 1360px;
}

label{
  color: black;
}

#posicao-1{
  background: #C4C4C4;
  border-radius: 50px;
  margin-left:5%;
  margin-top: 2%;
  margin-bottom: 100%;
}

.campo{
  weight: auto;
  bottom: 50%;
}

.input{
  box-sizing: border-box;
  text-align: left;
  width:400px;
  display:block;
  border-bottom: 2px solid #black;
  padding: 10px;
}

.button {
  display: inline-block;
  padding: 2px 15px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #b8c3c9;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px #999;
  margin-left: 350px;
}
.button:active {
  background-color: #8c9ea8;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
