.selecionado::after {
  content: '';
  display: block;

  margin: 0.1875rem auto 0 auto;
  height: 0.21875rem;
  width: 2.7rem;

  background: #fff;
}

.sobre h2 {
  text-align: center;
  font-size: 32px;
  margin: 60px auto 20px auto;
}

.sobre p {
  text-align: center;
  font-size: 24px;
}

.sobre-membros h2 {
  text-align: center;
  margin: 40px auto 20px auto;
}

.membros {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin: 40px auto 100px auto;
}
