/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background: #000;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: min(90vw, 980px);
  margin: 0 auto;
}

a {
  color: #fff;
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  margin: 0 auto;

  max-width: 100%;
  border-radius: 0.3125rem;
}

/* Header */

.menu {
  padding: 1.6875rem 0 1.6875rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu-logo {
  font-size: 3rem;
  font-weight: bold;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav ul li {
  padding: 0.9375rem;
}

.menu nav ul li a:hover {
  color: blue;
  font-size: 1.3rem;
  cursor: pointer;
}

/* Main */

/* Slide */

.slider {
  padding: 2.5rem 0 2.5rem 0;
  overflow: hidden;
  max-width: 60.6875rem;
  border-radius: 0.625rem;
}

.slides {
  display: flex;
  width: 500%;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  object-fit: cover;
  max-width: 60.6875rem;
  width: 100%;
  height: 100%;
}

/* Naveção */

.nav-manual {
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #fff;
  background-color: #fff;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: blue;
}

#radio1:checked ~ .atual {
  margin-left: 0;
}

#radio2:checked ~ .atual {
  margin-left: -20%;
}

#radio3:checked ~ .atual {
  margin-left: -40%;
}
/* Notícia */

h2 {
  font-size: 2.25rem;
  padding-bottom: 1.25rem;
}

.noticias h2::after {
  content: '';
  display: block;

  height: 0.21875rem;
  width: 8.625rem;

  margin-top: 12px;
  background: #fff;
}

.secao {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.secao-noticias a div {
  background-color: rgba(72, 75, 77, 0.9);

  width: 397px;
  height: 102px;

  position: relative;
  top: -7.65rem;
  margin-bottom: -90px;
}

.legenda {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Notícia button */
.btn {
  width: 192px;

  font-size: 1.125rem;
  border: 0.3125rem solid rgba(72, 75, 77, 0.9);

  padding: 1rem;
  margin: 1rem auto 1.25rem auto;

  text-align: center;
}

.btn:hover {
  transition: 0.5s;
  font-size: 1.3rem;
  background: blue;
  border-color: blue;
}

/* destaque */

.destaques h2::after {
  content: '';
  display: block;

  height: 0.21875rem;
  width: 21rem;

  margin-top: 0.75rem;
  background: #fff;
}

.secao-destaques a div {
  background-color: rgba(72, 75, 77, 0.9);

  width: 397px;
  height: 102px;

  position: relative;
  top: -6.6rem;
  margin-bottom: -90px;
}

/* footer */

h3::after {
  content: '';
  display: block;

  height: 0.21875rem;
  width: 15rem;

  margin: 0.75rem auto 0.1rem auto;

  background: #fff;
}

.social {
  text-align: center;
}

.social h3,
.social a,
.social p {
  padding: 20px;
}

@media (max-width: 668px) {
  .menu {
    justify-content: center;
  }
}
